{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}
{% block importmap %}
	{{ importmap('password') }}
{% endblock %}
{% block body %}


	<div class="font-[sans-serif] max-w-3xl items-center mx-auto md:h-screen p-4">
		<div class="grid md:grid-cols-3 items-center shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-xl overflow-hidden mt-12">
			<div class="max-md:order-1 flex flex-col justify-center space-y-16 max-md:mt-16 min-h-full bg-gradient-to-r from-cyan-900 to-cyan-700 lg:px-8 px-4 py-4">
				<div>
					<h6 class="text-yellow-300 text-sm font-semibold">Réinitialisation</h6>
					<p class="text-[12px] italic text-gray-300 mt-2 leading-relaxed">Bienvenue.
					</p>
					<p class="text-[12px] italic text-gray-300 mt-2 leading-relaxed">Saisir votre mot de passe.
					</p>
					<ul id="allowState">
						<li id="allowPasswordFirst" class="text-[12px] italic mt-1 ml-3 leading-relaxed"></li>
						<li id="allowPasswordSecond" class="text-[12px] italic mt-1 ml-3 leading-relaxed"></li>
						<li id="allowPasswordAll" class="text-[12px] italic mt-4 ml-3 leading-relaxed"></li>
					</ul>
				</div>
				<div>
					<h6 class="text-white text-sm font-semibold">Enregistrement sécurisé</h6>
					<p id="message" class="text-[12px] italic text-yellow-200 mt-2 leading-relaxed"></p>
					<div class="ml-4">
						<ul id='password_criteria' class="text-yellow-200">
							<li id="password_length_criteria" data-password-criteria>12 caractères au total</li>
							<li id="password_special_character_criteria" data-password-criteria>1 caractère spécial au moins</li>
							<li id="password_uppercase_criteria" data-password-criteria>1 lettre majuscule au moins</li>
							<li id="password_number_criteria" data-password-criteria>1 chiffre au moins</li>
							<li id="password_lowercase_criteria" data-password-criteria>1 lettre minuscule au moins</li>
						</ul>
					</div>
				</div>
			</div>
			{{ form_start(resetForm, {attr: {
              novalidate: "novalidate",id:"reset_password_form",
              class: "bg-white md:col-span-2 w-full py-6 px-6 sm:px-16",
              
            }
          })
        }}
			<div class="mb-6">
				<h3 class=" text-2xl font-light text-center text-cyan-600">Saisir</h3>
			</div>

			<div class="space-y-6">
				<div>
					<div class="relative block items-center">
						{{ form_widget(resetForm.plainPassword) }}
						<svg id="resetEyeOne" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="size-4 absolute right-4">
							<path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
							<path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd"/>
						</svg>

						<div class="text-sm text-red-700">
							{{ form_errors(resetForm.plainPassword) }}
						</div>
						<svg id="resetEyeTwo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="size-4 absolute right-4">
							<path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
							<path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd"/>
						</svg>


					</div>

				</div>
			</div>

			<div class="!mt-8">
				<button type="submit" id="change_password_form_submit" class="btn-retour">Nouveau mot de passe</button>
			</div>
			{{ form_end(resetForm) }}

		</div>
	</div>


{% endblock %}
