{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block importmap %}
	{{ importmap(['register']) }}
{% endblock %}

{% block body %}
	<div class="font-[sans-serif] max-w-3xl items-center mx-auto md:h-screen p-4 mt-20">
		<div class="grid md:grid-cols-3 items-center shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-xl overflow-hidden">
			<div class="max-md:order-1 flex flex-col justify-center space-y-16 max-md:mt-16 min-h-full bg-gradient-to-r from-neutral-400 to-neutral-700 lg:px-8 px-4 py-4">
				<div>
					<h6 class="text-white text-sm text-left font-semibold">Créer votre compte</h6>
					<p class="text-[12px] italic text-white text-left mt-2 leading-relaxed">Bienvenue sur le site
					</p>
					<ul id="allowState">
						<li id="allowEmail" class="text-[12px] italic mt-4 ml-3 leading-relaxed"></li>
						<li id="allowPseudo" class="text-[12px] italic mt-1 ml-3 leading-relaxed"></li>
						<li id="allowPassword" class="text-[12px] italic mt-1 ml-3 leading-relaxed"></li>
						<li id="allowAgreeTerms" class="text-[12px] italic mt-1 ml-3 leading-relaxed"></li>
					</ul>
				</div>
				<div>
					<h6 class="text-white text-sm font-semibold text-left">Enregistrement :</h6>
					<p id="message" class="text-[12px] italic text-yellow-200 mt-2 leading-relaxed"></p>
					<div class="ml-4">
						<ul id='password_criteria' class="text-yellow-200 text-xs">
							<li id="password_length_criteria" data-password-criteria>12 caractères au total</li>
							<li id="password_special_character_criteria" data-password-criteria>1 caractère spécial</li>
							<li id="password_uppercase_criteria" data-password-criteria>1 lettre majuscule</li>
							<li id="password_number_criteria" data-password-criteria>1 chiffre au moins</li>
							<li id="password_lowercase_criteria" data-password-criteria>1 lettre minuscule</li>
						</ul>
					</div>
				</div>
			</div>
			{{ form_start(registrationForm, {attr: {
              class: "bg-white md:col-span-2 w-full py-6 px-6 sm:px-16",
			  novalidate: "novalidate",
              id: "registration_form"
            }
          })
        }}
			<div class="mb-6">
				<h3 class=" text-lg  text-center font-semibold text-cyan-600">INSCRIPTION</h3>
			</div>

			<div class="space-y-6">
				<div>
					<div class="relative flex items-center">
						{{ form_widget(registrationForm.email) }}
						<div class="text-sm text-red-700">
							{{ form_errors(registrationForm.email) }}
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 absolute right-4 cursor-pointer mb-2">
							<path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"/>
							<path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"/>
						</svg>

					</div>
				</div>
				<div>
					<div class="relative flex items-center">
						{{ form_widget(registrationForm.login) }}
						<div class="text-sm text-red-700">
							{{ form_errors(registrationForm.login) }}
						</div>
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 absolute right-4 cursor-pointer mb-2" ">
							<path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
						</svg>
					</div>
				</div>
				<div>
					<div class="relative flex items-center">
						{{ form_widget(registrationForm.plainPassword) }}
						<div class="text-sm text-red-700">
							{{ form_errors(registrationForm.plainPassword) }}
						</div>
						<svg id="registerEye" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 absolute right-4 cursor-pointer mb-1">
							<path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
							<path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd"/>
						</svg>
					</div>
				</div>
				<div class="relative flex items-center">
					{{ form_widget(registrationForm.phone) }}
					<div class="text-sm text-red-700">
						{{ form_errors(registrationForm.phone) }}
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 absolute right-4 cursor-pointer mb-2">
						<path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd"/>
					</svg>
				</div>
				<div class="relative flex items-center w-full">
					{{form_widget(registrationForm.portrait)}}
					<div class="text-sm text-red-700">
						<p class="text-center" id="error"></p>
						{{ form_errors(registrationForm.portrait) }}
					</div>
				</div>

				<div class="relative flex items-center">
					<div class="ml-16">
						<img id="image" class="h-42 w-52 object-fill shadow-lg rounded-md" src="" alt="">
						</div>
				</div>


				<div class="flex items-center mb-4">
					{{ form_widget(registrationForm.agreeTerms) }}
					{{ form_label(registrationForm.agreeTerms) }}
					{{ form_errors(registrationForm.agreeTerms) }}
				</div>
			</div>

			<div class="mt-8">
				<button type="submit" id="registration_form_submit" class="btn-retour">
					Créer votre compte
				</button>
			</div>
			<p class="text-gray-800 text-xs font-light mt-6 text-center">d&eacute;jà inscrit ?
				<a href="{{ path('app_login') }}" class="text-cyan-600 font-semibold hover:underline ml-1">Connexion</a>
			</p>
			{{ form_end(registrationForm) }}

		</div>
	</div>

{% endblock %}
