{% extends 'base.html.twig' %}

{% block title %}Article ajout!{% endblock %}

{% block body %}
    <div class="flex items-center justify-center p-12 mt-5">

        <div class="mx-auto w-full max-w-full">
            <h3 class="text-3xl font-semibold text-center text-cyan-800 mb-5">Nouvel Article</h3>
            {{ form_start(form_article_new) }}

                <div class="mb-5">
                    {{ form_label(form_article_new.title) }}
                    {{ form_widget(form_article_new.title) }}
                    {{ form_errors(form_article_new.title) }}
                </div>
            <div class="mb-5">
                {{ form_label(form_article_new.introduction) }}
                {{ form_widget(form_article_new.introduction) }}
                {{ form_errors(form_article_new.introduction) }}
            </div>
            <div class="mb-5">
                {{ form_label(form_article_new.developpement) }}
                {{ form_widget(form_article_new.developpement) }}
                {{ form_errors(form_article_new.developpement) }}
            </div>
            <div class="mb-5">
                {{ form_label(form_article_new.conclusion) }}
                {{ form_widget(form_article_new.conclusion) }}
                {{ form_errors(form_article_new.conclusion) }}
            </div>
            <div class="mb-5">
                {{ form_label(form_article_new.photos) }}
                {{ form_widget(form_article_new.photos) }}
                {{ form_errors(form_article_new.photos) }}
            </div>



            <div>
                    <button
                        class="btn-retour py-3.5 text-lg" id="form_article_new_submit">
                        Nouvel Article
                    </button>
                </div>
            {{ form_end(form_article_new) }}
        </div>
    </div>
{% endblock %}
